.fake-background {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  overflow: auto;
  background-color: rgb(24, 24, 24);
}

::-webkit-scrollbar {
  width: 16px;
  position: relative;
}

::-webkit-scrollbar-track {
  background: rgb(24, 24, 24);
  position: relative;
}

::-webkit-scrollbar-thumb {
  background: rgb(170, 170, 170);
  border-radius: 20px;
  position: relative;
  border: 4px solid rgb(24, 24, 24);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(113, 113, 113);
  position: relative;
}

::-webkit-scrollbar-corner {
  background: rgb(24, 24, 24);
}
