.navbar {
  height: 56px;
  width: 100%;
  background-color: rgba(32, 32, 32, 0.95);
  display: inline-flex;
  position: sticky;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 4;
}

.logo {
  position: absolute;
  height: 30px;
  width: auto;
  margin-left: 56px;
  margin-top: 13px;
}

.profile-picture {
  position: absolute;
  top: 2px;
  right: 135px;
  color: rgb(255, 255, 255);
}

.auth-button {
  cursor: pointer;
  position: absolute;
  right: 5px;
  width: 109px;
  margin-top: 5px;
  transition: 0.2s;
  border: 1px solid rgb(62, 166, 255);
  background-color: transparent;
  color: rgb(62, 166, 255);
}

.auth-button:hover {
  transition: 0.2s;
  color: white;
  border-color: white;
}
