.homepage {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  overflow: auto;
  background-color: rgb(24, 24, 24);
}

.profile-picture {
  position: absolute;
  right: 150px;
  color: rgb(255, 255, 255);
}

.auth-button {
  position: absolute;
  right: 15px;
  width: 109px;
  margin-top: 5px;
  transition: 0.2s;
  border: 1px solid rgb(62, 166, 255);
  background-color: transparent;
  color: rgb(62, 166, 255);
}

.auth-button:hover {
  transition: 0.2s;
  color: white;
  border-color: white;
}

.navbar {
  height: 56px;
  width: 100%;
  background-color: rgba(32, 32, 32, 0.95);
  display: inline-flex;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 1;
}

.search-bar {
  width: 35.8%;
  position: absolute;
  left: 31.4%;
  margin-top: 12px;
  display: flex;
}

.search-input {
  height: 20px;
  width: 81%;
  background-color: rgb(18, 18, 18);
  border: 1px solid rgb(49, 49, 49);
  color: rgb(226, 226, 226);
  padding: 5px;
  padding-left: 12px;
  font-size: 16px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.search-button {
  color: rgb(226, 226, 226);
  border: none;
  height: 32px;
  width: 65px;
  background-color: rgb(49, 49, 49);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.search-input:focus {
  outline: none !important;
  transition: 0.05s;
  border: 1px solid rgb(26, 115, 232);
}

::-webkit-scrollbar {
  width: 8px;
  position: relative;
  z-index: 2;
}

::-webkit-scrollbar-track {
  background: rgb(24, 24, 24);
  position: relative;
  z-index: 2;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
  position: relative;
  z-index: 2;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  position: relative;
  z-index: 2;
}
