.side-rows-item {
  cursor: pointer;
  display: flex;
}

.side-rows-thumbnail {
  height: 94px;
  width: 168px;
  background-color: black;
}

.side-rows-details {
  margin-left: 8px;
  width: 210px;
  height: 94;
}

.side-rows-details h3 {
  position: relative;
  font-size: 16px;
  color: white;
  font-weight: 400;
}

.side-rows-details p {
  position: relative;
  color: rgb(170, 170, 170);
  font-size: 14px;
}
