.create-icon-box {
  right: 74px;
  position: absolute;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: 0.2s;
  filter: invert(100%);
}

.create-icon:hover {
  transition: 0.2s;
  filter: invert(80%);
}

.upload-modal {
  z-index: 4;
}

.upload-footer {
  z-index: 4;
}

.select-files {
  z-index: 4;
}

.upload-title {
  font-size: 20px;
  color: white;
  background-color: rgb(40, 40, 40);
  height: 64px;
  border-bottom: 1px solid rgb(62, 62, 62);
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.title-text {
  margin-left: 24px;
}

.close-button {
  cursor: pointer;
  color: rgb(170, 170, 170);
  font-size: 30px;
  margin: 12px;
  margin-right: 24px;
}

.close-button:hover {
  color: white;
}

.upload {
  display: block;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.drag-and-drop {
  width: 0px;
  height: 0px;
}

.drag-and-drop::-webkit-file-upload-button {
  cursor: pointer;
  position: fixed;
  background-color: transparent;
  left: 50%;
  border: none;
  top: 12%;
  margin-left: -480px;
  border-radius: 8px;
  height: 80%;
  width: 960px;
  z-index: 5;
  color: transparent;
}

.scuffed-icon {
  position: fixed;
  margin-top: -68px;
  margin-left: -68px;
  top: 43%;
  left: 50%;
  z-index: 6;
}

.file-input h1 {
  color: white;
  font-size: 17px;
  font-weight: 400;
  position: fixed;
  z-index: 6;
  top: 50%;
  left: 50%;
  margin-left: -128.205px;
}

.upload-details {
  color: rgb(170, 170, 170);
  font-size: 14px;
  font-weight: 400;
  position: fixed;
  z-index: 6;
  top: 53%;
  left: 50%;
  margin-left: -77.115px;
}

.click-button {
  top: 58%;
  left: 50%;
  position: fixed;
  margin-left: -61px;
  width: 122px;
  height: 36px;
  border: none;
  border-radius: 2px;
  transition: 0.2s;
  background-color: rgb(62, 166, 255);
  color: black;
  z-index: 4;
}

.click {
  display: none;
}

.upload-content {
  z-index: 4;
  position: fixed;
  background-color: rgb(40, 40, 40);
  left: 50%;
  top: 5%;
  margin-left: -480px;
  border-radius: 8px;
  height: 90%;
  width: 960px;
  overflow-y: hidden;
}

.video-upload-preview {
  z-index: 4;
  width: 304px;
  height: 171px;
  position: fixed;
  top: 26.37%;
  left: 50%;
  margin-left: 120px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: black;
}

.upload-title-text {
  position: fixed;
  z-index: 4;
  width: 516px;
  height: 61px;
  padding: 20;
  padding-left: 12px;
  background-color: transparent;
  color: white;
  top: 26.37%;
  left: 50%;
  margin-left: -440px;
  transition: 0.2s;
  border: 1px solid rgb(96, 96, 96);
  border-radius: 5px;
  font-size: 16px;
}

.upload-title-text:focus {
  outline: none !important;
  transition: 0.2s;
  border: 1px solid rgb(62, 166, 255);
}

.upload-description {
  font-family: Product Sans;
  position: fixed;
  z-index: 4;
  width: 516px;
  height: 166px;
  padding: 20;
  padding-top: 12px;
  padding-left: 12px;
  background-color: transparent;
  color: white;
  top: 36.45%;
  left: 50%;
  margin-left: -440px;
  transition: 0.2s;
  border: 1px solid rgb(96, 96, 96);
  border-radius: 5px;
  font-size: 16px;
  resize: none;
}

.upload-description:focus {
  outline: none !important;
  transition: 0.2s;
  border: 1px solid rgb(62, 166, 255);
}

.publish-text {
  position: fixed;
  z-index: 4;
  border: none;
  left: 50%;
  margin-left: -480px;
  height: 6%;
  width: 960px;
  bottom: 4.96%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  transition: 0.2s;
  background-color: rgb(96, 96, 96);
  color: white;
}

.publish-text:hover {
  transition: 0.2s;
  background-color: rgb(62, 166, 255);
  color: black;
}

.upload-trash-icon {
  cursor: pointer;
  height: 32px;
  width: 32px;
  z-index: 6;
  position: fixed;
  top: 85%;
  left: 50%;
  margin-left: -476px;
  transition: 0.2s;
  filter: invert(80%);
}

.upload-trash-icon:hover {
  transition: 0.2s;
  transform: scale(1.05);
  filter: invert(100%);
}

.uploads-details-footer {
  position: fixed;
  z-index: 6;
  background-color: rgb(31, 31, 31);
  color: white;
  top: 42%;
  margin-top: 19px;
  left: 50%;
  margin-left: 120px;
  width: 304px;
  height: auto;
}
