.video-show {
  margin-top: 22px;
  left: 10%;
  position: absolute;
  height: 720px;
  width: 1280px;
  background-color: rgb(24, 24, 24);
  float: left;
  z-index: 0;
}

.side-index {
  float: right;
  margin-right: 15%;
  width: 8%;
  display: flex;
  flex-direction: column;
}

.side-index-item:hover {
  transition: 0.4s;
  transform: scale(1.05);
}

.side-index-item {
  background-color: rgb(0, 0, 0);
  margin-bottom: 8px;
  transition: 0.2s;
  width: 168px;
  height: 96px;
}

.video-title {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 800px;
  left: 10%;
}
