.video-index {
  margin-top: 8px;
  margin: 0 auto;
  width: 86%;
  max-width: 1536px;
  display: flex;
  flex-wrap: wrap;
}

.video-index h3 {
  font-weight: 300;
}

.video-index-thumbnail {
  cursor: pointer;
  height: 203px;
  width: 360px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 12px;
  transition: 0.4s;
  background-color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 10px;
  opacity: 0.7;
}

.video-index-thumbnail:hover {
  transition: 0.2s;
  transform: scale(1.05);
  background-color: rgb(0, 0, 0);
  opacity: 1;
}

.video-display {
  height: 100px;
  margin-left: 12px;
  margin-right: 12px;
  color: white;
  font-size: 14px;
  border: 0px;
  outline: none;
  display: flex;
  margin-top: -10px;
}

.video-display h3 {
  cursor: pointer;
  width: 203px;
  white-space: normal;
  margin-left: 12px;
  color: rgb(255, 255, 255);
}

.video-display p {
  color: rgb(159, 159, 159);
  margin-left: 12px;
  margin-top: -16px;
}

img.user-icon-bigger {
  cursor: pointer;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-top: 16px;
}
