.video-rows-item {
  display: flex;
}

.video-rows-thumbnail {
  background-color: black;
  width: 360px;
  height: 202px;
  margin-top: 16px;
  transition: 0.2s;
  opacity: 0.7;
  border-radius: 10px;
}

.video-rows-thumbnail:hover {
  transition: 0.2s;
  opacity: 1;
}

.video-rows-details {
  margin-left: 16px;
  position: relative;
  color: white;
  padding: 0;
}

.video-rows-details h3 {
  font-weight: 300;
  margin-top: 30px;
}

.video-rows-user-icon {
  width: 24px;
  height: 24px;
  border-radius: 50px;
}

.channel-info {
  color: rgb(149, 149, 149);
  font-size: 14px;
  position: relative;
  display: flex;
  margin-top: 20px;
}

.video-rows-username {
  margin-left: 6px;
  padding: 5px;
}

.video-rows-description {
  position: relative;
  top: 20px;
  color: rgb(149, 149, 149);
}

.video-rows-holder {
  margin-left: 23%;
  width: 58%;
  margin-top: 48px;
  border-top: 1px solid rgb(48, 48, 48);
}
