.video-index-item {
  height: 203px;
  width: 360px;
  margin: 16px;
  transition: 0.4s;
  background-color: rgb(185, 185, 185);
  padding: 0px;
}

.video-index-item:hover {
  transition: 0.2s;
  transform: scale(1.05);
  background-color: rgb(126, 126, 126);
  box-shadow: 0px 0px 4px 2px rgb(207, 207, 207);
}

.video-index {
  margin-top: 80px;
  margin-left: 265px;
  width: 86%;
  display: flex;
  flex-wrap: wrap;
}
